<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="scriptLonefterskatt.js"></script>
    <script>
      var data1 = {{{data1}}};
      var data2 = {{{data2}}}
      
    </script>

		<style>
		 	img { 
                display: block;
                margin-left: auto;
                 margin-right: auto;
                 align: middle;
                margin-top: 5em;
                margin-bottom: 2em;
                border: 6px solid black;
                width: 1000px;
                height: 228px;                           
            }
            p { 
                font-family: Lato Light;
                margin-top: 1em;
             }   
    </style>
	</head>
  <body>
          <div class="jumbotron">
            <h1 class="display-3">Egen Ekonomi</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="https://www.skatteverket.se/privat/sjalvservice/svarpavanligafragor/beloppprocentsatser/privatbeloppfaq/narskamanbetalastatliginkomstskattochhurhogarden.5.10010ec103545f243e8000166.html" role="button">Learn more</a>
            </p>
          </div>
      <!---<table align="center" border="1"> -->
          <form name="Form">
        <!--- <tr>
                <th>
                      <label>Amount:</label>
                      <input type="number" name="number1" placeholder="ex:8">
                      <label>Buying rate:</label>
                      <input type="number" step="0.01" name="number2" placeholder="ex:7">
                      <label>Selling rate:</label>
                      <input type="number" step="0.01" name="number3" placeholder="ex:7">
                      <input type="submit" value="Submit">

                </th>
                <th rowspan="8"><img src="http://ii.alatest.com/css/staticpages/contact.jpg" alt="Test Image" /></th>
            </tr> -->
          
           
          
       <img src="https://img-k.okeinfo.net/content/2017/06/07/320/1709558/krisis-qatar-ekonomi-negara-teluk-terguncang-eFV6cZwpdG.jpg" class="img-fluid" alt="Responsive image" />

      <h1><strong>Beräkna lön efter skatt</strong></h1> 

      Sidan uppdaterades senast 2017-10-06 <br /><br />
      <h6>Beräkna hur mycket pengar du får behålla av din lön varje månad och hur mycket du betalar i inkomstskatt.</h6><br /><br />

        <div class="form-group row">
  			 <label for="example-number-input" class="col-xs-2 col-form-label">Vad har du i lön?</label>
          <input class="form-control" type="number" name="number1" id="example-number-input">
  			 <div class="col-xs-10">
    			
  		    </div>
		    </div>

        <div class="form-group">
          <label for="kommuner">Vilken församling bor du i?</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option value="kommun1">Stockholm</option>
            <option value="kommun2">Umeå</option>
            <option value="kommun3">kommun3</option>
            <option value="kommun4">kommun4</option>
            <option value="kommun5">kommun5</option>
          </select>
        </div>

		<!--<div class="form-group row">
  			<label for="example-number-input" class="col-xs-2 col-form-label">Buying rate:</label>
  			<div class="col-xs-10">
    			<input class="form-control" type="number" name="number2" step="0.01" id="example-number-input">
  			</div>
		</div>
		<div class="form-group row">
  			<label for="example-number-input" class="col-xs-2 col-form-label">Selling rate:</label>
  			<div class="col-xs-10">
    			<input class="form-control" type="number" name="number3" step="0.01" id="example-number-input">
  			</div>
		</div>-->
        <!---<div class="checkbox">
        <label>
          <input type="checkbox" name="del"> Delete
        </label>
      </div><br/><br/>-->
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="kyrkan">Medlem i Svenska kyrkan
        </label>
      </div>
		<button type="submit" value="Submit" class="btn btn-primary">Beräkna</button>
    </form>
           
    <p><strong>Resultat: </strong>Du får {{behallning}} kr i månaden efter skatt <br /> 
    <!---Arbetsgivaravgift <strong>{{arbetsgivaravgift}}</strong> <br /> 
    Kommunalskatt <strong>{{kommunalskatt}}</strong><br />
    Jobbavdrag <strong>{{jobbavdrag}}</strong><br />
    Landstingsskatt <strong>{{landstingsskatt}}</strong><br />
    Statligskatt <strong>{{statligskatt}}</strong><br />
    Kyrkoavgift <strong>{{kyrkoavgift}}</strong><br />-->
    <strong>Totalskatt: </strong>{{totalskatt}}% </p>
  
    <div id="table_div"></div>
    <div id="chartv"></div>
    
    Din arbetsgivare använder vanligtvis en tabell från Skatteverket för att beräkna den preliminära skatt som ska dras från din lön varje månad. Vid deklarationen beräknas sedan din slutgiltiga skatt, som påverkas av exempelvis ränteavdrag, försäljning av värdepapper och fastigheter.<br /> 
    Beräkningen av <strong>jobbavdrag</strong> (kallas även jobbskatteavdrag) ovan gäller endast för dem som är yngre än 65 år och som har en månadslön över c:a 9000 kr.<br /> 
    Med begreppet <strong>kyrkoavgift</strong> ovan menas avgift till Svenska kyrkan samt begravningsavgift. Även om du inte är medlem i Svenska kyrkan, måste du betala begravningsavgiften.<br /> 
    <strong>Statlig skatt</strong> betalas av de som beräknas tjäna över en viss summa per år. På inkomster över denna summa är den statliga skatten 20% och på ännu högre inkomster är den statliga skatten 25%. <a href="https://www.skatteverket.se/privat/sjalvservice/svarpavanligafragor/beloppprocentsatser/privatbeloppfaq/narskamanbetalastatliginkomstskattochhurhogarden.5.10010ec103545f243e8000166.html">Läs mer på Skatteverkets webbplats.</a>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </body>
 </html>
